{{ define "main" }}
<!-- Banner -->
{{- partial "banner.html" . -}}
<section>
    <header class="major">
        <h2>Ipsum sed dolor</h2>
    </header>
    <div class="posts">
        {{ $pages := .Pages }}
        {{ if .IsHome }}
        {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ end }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) 10 }}
        {{ range $paginator.Pages }}

        {{- partial "article.html" . -}}
        
        {{ end }}
    </div>
</section>
{{ end }}